*{margin: 0;padding: 0;list-style: none;
text-decoration:initial;box-sizing: border-box;
}
.container{
	width: 100%;
	margin-top: 1.5em;
	line-height:23px;
}
.icon-xiangzuojiantou{
	margin-left: 1.1em;
	font-size: 1.3em;
	color: #0086B3;
	font-weight: 900;
}
.container span{
	float: right;
	margin-right: 2em;
	font-size: 1.3em;
	color: #0086B3;
	font-weight: 600;
}
.box-img{
	margin-top: 2em;
	text-align: center;
	margin-bottom: 2em;
}
.box-img img{
	
	width: 8em;
	height: 3em;
}
.box-inp input{
	border-bottom:-1 ;
	padding: 0.8em;
	padding-left: 3em;
	width: 100%;
	height: 2.3em;
	border: none;
	border-bottom:1px solid rgba(189,213,238,1 ) ;
	margin-bottom: 2em;
	outline:medium ;
}
.btn{
	border-radius:5% ;
	margin:auto;
	background: #0086B3;
	width: 18em;
	height: 2.5em;
	text-align: center;
	line-height: 2.5em;
	color: #FFFFFF;
	margin-bottom: 1em;
}
.lasts span{
	
	margin-left: 3.4em;
	font-size:0.8em;
}
.sj{
	color: #969896;
}
.pas{
	float:right ;
	font-size:0.8em;
	margin-right: 3.4em;
	color: #0086B3;
}
.swiper-container img{
	width: 10em;
}
