*{
	margin: 0;padding: 0;list-style: none;
	box-sizing: border-box;
}
.container{
	width: 100%;
	height: 3em;
	background: #007AFF;
	text-align: center;
	line-height:3em ;
	margin-bottom: 1em;
}
.icon-xiangzuojiantou{
	float:left;
	margin-left: 0.5em;
	font-size:1.5em ;
	color: #FFFFFF;
}
.container span{
	font-size: 1.2em ;
	margin-right: 2em;
	color: #FFFFFF;
}
.table{
	margin-left: 1.2em;
	width: 90%;
	height: 2.5em;
	border: 1px solid#4294FA;
}
.xx{
	text-align: center;
	line-height: 2.5em;
	display: flex;
	width: 100%;
	height: 100%;
}
.shezhi{
	flex: 1;
}
.daohang{
	flex: 1;
}

.x-table{
	width: 88%;
	height: 2.8em;
	border: 1px solid#CCCCCC;
	margin-left: 1.2em;
	margin-top: 1em;
	line-height: 2.8em;
	padding-left: 0.5em;
}
.tuo{
	float: right;
	width:4.1em;
	height: 2.1em;
	border: 1px solid#999999;
	margin-top: 0.3em;
	margin-right: 0.5em;
	border-radius:5em ;
}
.yuan{
	border-radius:50% ;
	width: 2em;
	height: 2em;
	border: 1px solid#999999;
}
.yuan1{
	border-radius:50% ;
	width: 2em;
	height: 2em;
	border: 1px solid#999999;
}
.x-tables{
	width: 88%;
	height: 2.8em;
	border: 1px solid#CCCCCC;
	margin-left: 1.2em;
	margin-top: 1em;
	padding-left: 0.5em;
}
.active{
	background: #55A532;
	color: #FFFFFF;
}
.ps{
	font-size: 0.5em;
	color: #999999;
}
.tuo1{
	margin-top: -1em;
	float: right;
	width:4.1em;
	height: 2.1em;
	border: 1px solid #999999;
	margin-right: 0.5em;
	border-radius:5em ;
}
.box1{
	display: none;
}
.tuo1 i{
	font-size:0.2em;
}
.bs{
	width: 80%;
	height: 2.5em;
	background: #007AFF;
	color: #FFFFFF;
	text-align: center;
	line-height: 2.5em;
	margin-left: 2.3em;
	margin-top: 1em;
	border-radius:5em ;
}
.coloe{
	width: 100%;
	height: 0.8em;
	background: #F1F1F1;
}
.text{
	font-size: 1.2em;
	width: 100%;
	height: 2.5em;
	border: 1px solid#CCCCCC;
	text-align: center;
	line-height: 2.5em;
}
.big-box{
	box-sizing:border-box ;
	margin-left: 1.1em;
	margin-top: 1.5em;
	width: 90%;
	height: 12em;
	border: 1px solid#CCCCCC;
}
.xuanxiang ul{
	display: flex;
	width: 100%;
	height: 3.5em;
	text-align: center;
	line-height:3.5em;
}
.xuanxiang li{
	margin-top: 0.5em;
	flex: 1;
	width: 5em;
	height: 3.5em;
	border: 1px solid#ccc;

}
.xuanxiang li:hover{
	color: #FFFFFF;
	background: #DF5000;
}
