header{
	line-height: 3em;
	width: 100%;
	height: 3em;
	border: 1px solid #CCCCCC;
	margin-top: 1em;
}
.icon-xinlang{
	margin-left: 0.8em;
	font-size: 2.0em;
	margin-right: 0.2em;
	color: #000000;
}
.icon-erweima{
	float: right;
	margin-right: 0.5em;
	margin-top: 0.1em;
	font-size: 1.5em;
}
section{
	border: 1px solid #CCCCCC;
	border-top:-1px ;
	padding: 0.2em;
}
.n_list{
	width: 100%;
}
.n_list:nth-child(2){
	margin-bottom: 1em;
}
.n_list ul {
	display: flex;	
}
.n_list ul li{
	flex: 1;
	text-align: center;
	margin-top: 0.8em;
}